*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.div-1 .div-1-h1{
    background-color: #516770;
    color: white;
    text-align: center;
    padding: 20px;
}
.div-1 .div-1-h1:hover{
    background-color: #648c9c;
}
.div-2{
    text-align: center;
    line-height: 1.5;
}
.div-2-1{
    background-color: rgb(245, 238, 230);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    height: 470px;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px #ccc solid;

}
.div-2-1-img{
    width: 300px;
    height: 300px;
}
.div-2-1-button{
    background-color: #28a745;
    padding: 10px;
    color: white;
    border-width: 0;
    border-radius: 5px;
}
.div-2-1-button:hover{
    background-color: #218838;
}
/* .div-2-2{
    background-color: rgb(245, 238, 230);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    height: 470px;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px #ccc solid; */
    /* background-color: rgb(245, 238, 230);
    width: 400px;
    height: 470px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px; */
/* } */
/* .div-2-2-img{
    width: 300px;
    height: 300px;
}
.div-2-2-button{
    background-color: #28a745;
    padding: 10px;
    color: white;
    border-width: 0;
    border-radius: 5px;
}
.div-2-2-button:hover{
    background-color: #218838;
} */
.div-3{
    background-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 1rem;
    border: 1.5 #555 solid;
    border-radius: 5px;
}
.div-3-button{
    background-color: #333;
    color: white;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}
.div-3-button:hover{
    background-color: #555;
}
input{
    width: 500px;
    padding: 10px;
    border: 1.5 #555 solid;
    border-radius: 5px;
}
.div3-h2{
    padding-top: 10px;
}
.div-4{
    background-color: #333333;
    color: white;
    display: block;
    justify-items: center;
    align-items: center;
    padding: 15px;
    font-size: 1rem;
}